/target/
/plugins/
/world/
/world_nether/
/world_the_end/
/banned-ips.txt
/banned-players.txt
/bukkit.yml
/craftbukkit.jar
/help.yml
/ops.txt
/permissions.yml
/pom.xml
/server.log
/server.log.1
/server.log.1.lck
/server.properties
/white-list.txt
/backups/
/crash-reports/
/logs/
/McAdminPanel/
